@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

html,
body {
	height: 100%;
	min-height: 100vh;
}

/* Abstract common page properties */
.common-page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-page-container {
	@apply common-page-container;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-image: linear-gradient(to bottom, #fff, #f9fafb 50%, #f3f4f6 100%);
}

@media (prefers-color-scheme: dark) {
	.home-page-container {
		background-image: linear-gradient(
			to bottom,
			#111827,
			#1f2937 50%,
			#111827 100%
		);
	}
}

.page-container {
	@apply common-page-container;
	flex: 1 1 0%;
	padding: 6rem;
	padding-top: 1rem;
	background-image: linear-gradient(to bottom, #fff, #f9fafb, #f3f4f6);
}

@media (prefers-color-scheme: dark) {
	.page-container {
		background-image: linear-gradient(to bottom, #111827, #1f2937, #111827);
	}
}
